In [19]:
#Syntax

print ("Hello World")

Hello World

In [21]:
#Python Syntax

if 5>2:
    print ("Five is greater than two.")
    
#Too much indentation cause syntax error
                      #print("Five is greater than two.")

Five is greater than two.

In [31]:
#Python Variables

x=5
y= "Hello World"

#This is comment.

print ("Suraj")

#This is statement.

print("Python is fun.")

#Many Statements
#Statements are executed in same order they are  written
print ("My name is Suraj Kumar Yadav")
print("I have done B.Tech. in Computer Science and Enginnering from MMDU.")
print ("I have done M.Tech. in Internet of Things from MIT Manipal.")
print("I am Single.")
print("I have work experience as Computer Engineer. I was employed by MoCIT Nepal.")
print("I am currently unemployed.")

#Use of semicolon
#Semicolons are to b used when many statements are on a same line

print("S");print("U");print("R");print("A");print("J")

#Use of double quotes and single quotes on print() function
print("S")
print('K')
#print("Y') #Either use double quote or single quote

#Print without a new line
#use end parameter to print on same line
# print("", end="")

print("Hello World!", end=" ")
print("I will print on the same line.")

print("S", end='');print("U", end="");print("R", end='');print("A",end='');print("J")

Suraj
Python is fun.
My name is Suraj Kumar Yadav
I have done B.Tech. in Computer Science and Enginnering from MMDU.
I have done M.Tech. in Internet of Things from MIT Manipal.
I am Single.
I have work experience as Computer Engineer. I was employed by MoCIT Nepal.
I am currently unemployed.
S
U
R
A
J
S
K
Hello World! I will print on the same line.
SURAJ

In [1]:
# To print numbers , we donot use single quotes or double quotes

print (3)
print(4)
print(3+4,'\n')

#/Numbers and Text can be used inside same print function by seperating them with comma

print(1,"Two",3,sep="\n")
#print("\n")

#To print variables

a=5
b=10
print(f"{a}\n{b}\n{a+b}\n{a-b:>20}\n{a*b}\n{a/b}\n{a%b}\n")

3
4
7

1
Two
3
5
10
15
-5:>20
50
0.5
5

In [1]:
#Variables
x=4
x="Suraj"
print(x)

Suraj

In [4]:
x= str(3)
y= int(3)
z= float(3)
print (type(x))
print (type(y))

<class 'str'>
<class 'int'>

In [18]:
#many values to multiple variable
x,y,z = "Ram", "Shyam", "Krishna"
print(x);print(y);print(z)

#one value to multiple variables
x=y=z = "Sita"
print(x);print(y);print(z)

#Unpack a list
fruits=["Orange","Banana","Apple"]
x,y,z= fruits
print(x);print(y);print(z)

#Output variables
x= "Suraj"
y="Kumar"
z="Yadav"
print(x,y,z)
print(x+ y+ z)

a=5
b=10
c= "Suraj"
print(a+b)
print(a+b,c)

Ram
Shyam
Krishna
Sita
Sita
Sita
Orange
Banana
Apple
Suraj Kumar Yadav
SurajKumarYadav
15
15 Suraj