In [4]:
print ("The is output.")

# This is single line comment

The is output.

In [17]:
'''This is multiline
comment
ghghffh'''
a =4
b= "String"
c= 0.5
is_Owner= False
print(type(a));print(type(b));print(type(c));print(type(is_Owner))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [24]:
a='5'
b='4'

c= a+b

print (c)

54

In [23]:
Name= input ("Enter Number")

print (type(Name))

Enter Number 54

<class 'str'>

In [28]:
Age = int (input ("Age"))

print (type(Age))

Age 26

<class 'int'>

In [ ]:
a= 0.5
b= float a
p

In [2]:
x= 25
y=15

print (f"ADD:{x+y}, SUB:{x-y}, DIVIDE:{x/y}, FLOOR DIVISION :{x//y}, MODULUS:{x%y}, POWER:{x**y}")

ADD:40, SUB:10, DIVIDE:1.6666666666666667, FLOOR DIVISION :1, MODULUS:10, POWER:931322574615478515625

In [15]:
#Assignment: =, +=, -=
x=10
y=5

x+=y
x

15

In [16]:
b=x-+y
b

10

In [103]:
#The Receipt Generator
"""Create variables for three items: item1_price, item2_price, and item3_price.
Ask the user to input the price of each item
Calculate the subtotal.
Calculate the tax (assume 8%).
Calculate the total.
Print a formatted receipt using F-strings"""

item1_price= int(input("Input Price of item1:"))
item2_price=int(input("Input Price of item2:"))
item3_price=int(input("Input Price of item3:"))

subtotal=item1_price+item2_price+item3_price
tax= 8/100*subtotal
total= subtotal + tax

print(f"Subtotal:{subtotal}")
print(f"Tax:{tax}")
print(f"Total:{total}")

print(f"item1:{item1_price},item2:{item2_price},item3:{item3_price},subtotal:{subtotal},tax:{tax},total:{total}")

Input Price of item1: 100
Input Price of item2: 200
Input Price of item3: 300

Subtotal:600
Tax:48.0
Total:648.0
item1:100,item2:200,item3:300,subtotal:600,tax:48.0,total:648.0

In [105]:
#Type Detective (Reasoning)
"""Without running the code, look at the following lines. What is the resulting Data Type of the variable result?
a) result = 10 / 2
b) result = 10 // 2
c) result = "10" + "5"
d) result = 10 > 2"""

a=10/2
b=10//2
c="10"+"5"
d=10>2

print(a,b,c,d, sep='\n')
print(type(a))
print(type(b))
print(type(c))
print(type(d))

5.0
5
105
True
<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>

In [106]:
#String Slicer
"""Given the string: s = "PythonProgramming".
Write code to print:
"Python"
"gram"
"gnimmargorPnohtyP" (The whole string reversed)."""

s="PythonProgramming"
print(s[0:6])
print(s[9:13])
print(s[::-1])

Python
gram
gnimmargorPnohtyP

In [110]:
#The modulus Check
"""Write a script that defines a variable number. Check if the number is even or odd using the % operator and print a boolean result (True if even, False if odd)."""

var_name= float(input("Enter Variable Number:"))
check_even_odd= var_name%2 == 0

print(f"Is it Even? : {check_even_odd}")

Enter Variable Number: 34

Is it Even? : True

In [113]:
#List Logistics
"""Start with this list: guests = ["Alice", "Bob", "Charlie", "David"].
Perform the following steps in order:
"Bob" cancels. Remove him.
"Eve" is a VIP. Add her to the start of the list.
"Frank" joins. Add him to the end of the list.
Sort the list alphabetically.
Print the final list and the total number of guests."""

guests=["Alice","Bob","Charlie","David"]
guests.remove("Bob")
print (guests)
guests.insert(0,"Eve")
guests.append("Frank")
print(guests)
guests.sort()
print(guests)
count=len(guests)
print(f"Total no. of finalized guests: {count}")

['Alice', 'Charlie', 'David']
['Eve', 'Alice', 'Charlie', 'David', 'Frank']
['Alice', 'Charlie', 'David', 'Eve', 'Frank']
Total no. of finalized guests: 5

In [114]:
# Email Sanitizer
"""You have a messy user input: email_input = " UseR@ExAMPle.CoM ".
Write a one-line chain of methods to:
Remove surrounding whitespace.Convert to lowercase.Replace "com" with "org".
Output should be: user@example.org
"""

email_input=" UseR@ExAMPle.CoM "
print(email_input.strip().lower().replace("com","org"))

user@example.org

In [129]:
#Tuple Logic (Reasoning)
"""Why does the following code crash? Fix it so coords remains a tuple but the value changes.



coords = (10, 20) 
coords[0] = 15 # This causes an error"""

coords=(10,20)
coords = (15,coords[1])
print(coords)

(15, 20)

In [133]:
coords=(10,20)

In [136]:
coords = list(coords)

In [135]:
coords[0]=15

In [137]:
coords

[15, 20]

In [138]:
coords =tuple(coords)

In [139]:
coords

(15, 20)

In [118]:
#The Duplicate Destroyer
"""You have a list of ID numbers with duplicates: ids = [101, 102, 101, 103, 104, 102].

Using one specific data structure conversion, create a new variable unique_ids that contains only unique numbers. 
Print the count of unique IDs."""

ids=[101, 102, 101, 103, 104, 102]
unique_elements = set(ids)
print(unique_elements)
count=len(unique_elements)
print(f"Count of Unique IDs: {count}")

{104, 101, 102, 103}
Count of Unique IDs: 4

In [131]:
#Student_Database
"""Given the following complex dictionary representing a student database:

school_data = {
    "class_10A": {
        "students": [
            {"name": "John", "grades": {"math": 80, "science": 90}},
            {"name": "Sarah", "grades": {"math": 95, "science": 88}}
        ]
    }
}



output:
John: maths:80, science:90
Sarah: maths:95, science:88
"""

school_data = {
    "class_10A": {
        "students": [
            {"name": "John", "grades": {"math": 80, "science": 90}},
            {"name": "Sarah", "grades": {"math": 95, "science": 88}}
        ]
    }
}
for student in school_data["class_10A"]["students"]:
    name= student["name"]
    math= student["grades"]["math"]
    science= student["grades"]["science"]
    print(f"{name}: maths:{math}, science:{science}")

John: maths:80, science:90
Sarah: maths:95, science:88

In [132]:
#The Data Parser(String Slicing)
"""You have a date in a specific format: date_string = "2023-12-25".

Use  (using square brackets []) to extract the year, month, and day into separate variables.
year should be "2023"
month should be "12"
day should be "25"
 Print them in US format: 12/25/2023 using an f-string."""

date_string = "2023-12-25"
year= date_string[0:4]
month=date_string[6:7]
day=date_string[8:10]

print(year)
print(month)
print(day)

print(f"{month}/{day}/{year}")

2023
2
25
2/25/2023

In [124]:
#The File Name Standardizer(Method Chaining)
"""Users often upload files with messy names. You need to standardize them for a database.
 file_name = " My Summer Vacation PHOTO.JPG "
 Write a chain of methods to:
 "my_summer_vacation_photo.jpg"""

file_name = "My Summer Vacation PHOTO.jpg"
print(file_name.strip().lower().replace(" ","_"))

my_summer_vacation_photo.jpg